;; shadow-cljs configuration
{:deps
 {:aliases [:cljs]}

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :closure-defines {sports.app/ENV "production"}
   :asset-path "/js" 
   :js-options {:resolve {"date-picker"
                          {:target :file
                           :file "src/main/vendor/date-picker.js"}}}
   :compiler-options {:output-feature-set :es-next
                      :infer-externs :auto}
   :modules
   {:main
    {:init-fn sports.app/init}}}
  :dev
  {:target :browser
   :closure-defines {sports.app/ENV "development"}
   :output-dir "public/js"
   :asset-path "/js"
   :js-options {:resolve {"date-picker"
                          {:target :file
                           :file "src/main/vendor/date-picker.js"}}}
   :modules
   {:main
    {:init-fn sports.app/init}}}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :autorun   true}}}
