;; shadow-cljs configuration
{:deps
 {:aliases [:cljs]}

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :js-options {:babel-preset-config {:targets {:chrome 80}}}
   :modules
   {:main
    {:init-fn sports.app/init}}}
  :test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :autorun   true}}}
