{:lint-as {rum.core/defcs clojure.core/defn
           rum.core/defc clojure.core/defn
           spade.core/defclass clojure.core/defn
           spade.core/defattrs clojure.core/defn
           spade.core/defkeyframes clojure.core/defn
           cljss.core/defstyles clojure.core/defn}
 
 :linters {:unresolved-symbol {:exclude [(rum.core/defcs)]}}}